*::before{
    box-sizing: border-box;
    font-size: 1vw;
    color: #B9ACCD;
    padding: 2vw;
    margin: 2vw;
    border-radius: 0.3rem;
}

body{
  background-color: #1D0030;
  background-color: #20033D;
}

header {
  justify-content:flex-end;
}

header nav{
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: green;
  margin-left: 20vw;
}

header nav button{
  height: 4vw;
  width: 4vw;
  display: inline-block;
  background-color: #2942FF;
}

header nav button img{
  width: 100%;
  height: fit-content;
}

h1{
  font-size: 3vw;
  color: #F8B0FA;
}

h2,h3{
  /*font-size: 3vw;*/
  color: #B9ACCD;
}

button{
  width: 2vw;
}

img{
  width: 100%;
  height: 100%;
}

section[class]{
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

article section[name="container-options"] input[type="text"], article section[name="container-options"] select{
  /*background-color: yellow;*/
  width: 16vw;
  border-radius: 0.3rem;
  border: 1px solid #d3d6e4;
  height: fit-content;
  /*color: #B9ACCD;*/
  /*padding: 1vw;*/
  color: #1D0030;
  text-align: center;
  box-shadow: 0 2px 3px rgba(0 0 0 / 0.15);
  /*display: inline-block;*/
  /*font-style: normal;*/
  /*font-variant: normal;*/
  /*text-rendering: auto;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*font: var(--fa-font-solid);*/
  /*content: "\f007";*/
}

#search, #filter, #sort{
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  color: #bbb;
}

article section
article section div[id="pages"]{
  
}


.flex-container[id="data"]{
  flex-direction: column;
  margin: 2vw;
  border: solid;
  color:#2196F3;
  padding: 2vw;
}

.flex-container[id="pages"]{
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex-container[id="table"]{
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1vw;
}

.flex-container[id="cards"]{
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1vw;
}

footer div a {
    color: lightblue;
}

.flex-container, header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

 /* The switch - the box around the slider */
 .switch {
    padding: 5px;
    margin: 10px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  } 

  .ribbon {
    width: 60px;
    font-size: 14px;
    padding: 4px;
    position: absolute;
    right: -25px;
    top: -12px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
    background-color: #ff9800;
    color: white;
  }
  