*::before{
    box-sizing: border-box;
    font-size: 1vw;
    padding: 2vw;
    margin: 2vw;
    border-radius: 15px;
}

body{
  background-color: #20033D;
  background-color: #1D0030;
}

header {
  color: #B9ACCD;
  justify-content:flex-end;
}

header nav{
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: green;
  margin-left: 20vw;
}

header nav button{
  height: 4vw;
  width: 4vw;
  display: inline-block;
  background-color: #2942FF;
}

header nav button img{
  width: 100%;
  height: fit-content;
}

/*h1{
  font-size: 3vw;
  color: #F8B0FA;
}*/

h2,h3{
  /*font-size: 3vw;*/
  color: #B9ACCD;
}

h4{
  color: #1D0030;
}

button{
  width: 2vw;
}

img{
  width: 100%;
  height: 100%;
}

section[class]{
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

article section[name="container-options"] input[type="text"], article section[name="container-options"] select{
  /*background-color: yellow;*/
  width: 16vw;
  border-radius: 0.3rem;
  border: 1px solid #d3d6e4;
  height: fit-content;
  /*color: #B9ACCD;*/
  /*padding: 1vw;*/
  color: #1D0030;
  text-align: center;
  box-shadow: 0 2px 3px rgba(0 0 0 / 0.15);
  /*display: inline-block;*/
  /*font-style: normal;*/
  /*font-variant: normal;*/
  /*text-rendering: auto;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*font: var(--fa-font-solid);*/
  /*content: "\f007";*/
}

#search, #filter, #sort{
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  color: #bbb;
}

article section div[id="pages"]{
  
}

.flex-container[id="data"]{
  flex-direction: column;
  margin: 2vw;
  border: solid;
  color:#2196F3;
  padding: 2vw;
}

.flex-container[id="pages"]{
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex-container[id="table"]{
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1vw;
}

.flex-container[id="cards"]{
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1vw;
}

.flex-container[id="calculus-container"]{
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  width: fit-content;
  padding: 1vw;
}

footer div a {
    color: lightblue;
}

.flex-container, header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

 /* The switch - the box around the slider */
 .switchBtn {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 34px;
}
.switchBtn input {display:none;}
.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 8px;
  color: #fff;
}
.slide:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 78px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slide {
  background-color: #8CE196;
  padding-left: 40px;
}
input:focus + .slide {
  box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -20px;
}

.slide.round {
  border-radius: 34px;
}
.slide.round:before {
  border-radius: 50%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flex-container[id="table"]{
    flex-direction: row;
    wrap: wrap;
    justify-content: left;
    align-items: left;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  } 


  .clockdate-wrapper {
    background-color: #333;
    padding:25px;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-top:15%;
}
#clock{
    background-color:#333;
    font-family: sans-serif;
    font-size:60px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:30px;
    position:relative;
    top:-27px;
    left:-10px;
}
#date {
    letter-spacing:10px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
/*With rounded corners*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}



.pagination-container {
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  position: absolute;
  /*bottom: 0;*/
  top: 10;
  padding: 1rem 0;
  justify-content: center;
}

.pagination-number,
.pagination-button{
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  color: dodgerblue;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
  color: darkblue;
}

.pagination-number.active {
  color: #fff;
  background: #0085b6;
}

.calculus-container{
  flex-direction: columns;
}

footer .heart {
  color: #DC143C;
}